@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jura";
    color: white;
    overflow: hidden;
}

:root {
    --reject-color: #C8102E;
    --accept-color: #48A34C;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #465385;
}

::-webkit-scrollbar-thumb {
    background: #334583;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a {
    text-decoration: none;
}

// ------------------------------------------------------------------------ start page ------------------------------------------------------------------------
.start-page {
    background-image: url('../src/assets/images/startPageBackground.png');
    background-size: cover;
    height: 100vh;

    .title {
        position: absolute;
        top: 15%;
        right: 5%;
        font-size: 105px;
    }

    .buttons-box {
        width: 39%;
        height: 40%;
        position: absolute;
        right: 15%;
        top: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        button {
            width: 100%;
            height: 120px;
            border-radius: 35px;
            font-size: 40px;
            display: flex;
            align-items: center;
            gap: 20px;
            padding-left: 60px;
            background: linear-gradient(to left, #0C2359, #455CA8);
            border: none;
            cursor: pointer;
        }
    }
}

// ------------------------------------------------------------------------ choose country page ------------------------------------------------------------------------
.choose_country-page {
    width: 100vw;
    height: 100vh;

    header {
        background-color: #445BA7;
        height: 15vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2vw;
        font-size: 24px;

        .button-section {
            display: flex;

            button {
                width: 425px;
                height: 84px;
                display: flex;
                align-items: center;
                padding-left: 30px;
                border: none;
                border-radius: 35px;
                font-size: 36px;
                gap: 20px;
                cursor: pointer;
            }

            .reject-button {
                background-color: var(--reject-color);
            }

            .accept-button {
                background-color: var(--accept-color);
            }
        }
    }

    .choose_country_content {
        display: flex;
    }

    .choose_country_content--countries {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        background-color: #0E255C;
        width: 75vw;
        height: 85vh;
    }

    .choose_country_content--card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        width: 18vw;
        height: 26vh;
    }

    .choose_country_content--card:hover {
        background-color: #354a7a;
        cursor: pointer;
    }

    .choose_country_content--country_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #334583;
        width: 25vw;
    }

    .choose_country--confirm {
        background-color: #445BA7;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 50vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px;

        h1 {
            font-size: 50px;
        }

        div {
            display: flex;
            gap: 20px;

            button {
                width: 15vw;
                height: 5vh;
                font-size: 30px;
                border: none;
                border-radius: 35px;
                cursor: pointer;
            }

            .accept {
                background-color: var(--accept-color);
            }

            .reject {
                background-color: var(--reject-color);
            }
        }
    }
}

.navbar {
    height: 100vh;
    width: 17vw;
    display: flex;
    flex-direction: column;
    background-color: #334583;

    button {
        display: flex;
        align-items: center;
        gap: 20px;
        padding-left: 30px;
        font-size: 30px;
        height: 10vh;
        background-color: inherit;
        border: none;
        width: 100%;
        cursor: pointer;
    }

    button:hover {
        background-color: #1b307a;
    }
}

.header {
    background-color: #445BA7;
    height: 15vh;
    display: flex;
    align-items: center;
    padding-inline: 3vw;

    .header--section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50vw;
        height: 8vh;
        font-size: 20px;
        margin-inline: 20px;
    }

    .header--continue_button {
        background-color: var(--accept-color);
        width: 20vw;
        height: 8vh;
        font-size: 40px;
        border: none;
        border-radius: 35px;
        cursor: pointer;
    }
}

.home-page {
    display: flex;
    height: 100vh;
    width: 100vw;

    .home_page_content {
        width: 83vw;
        background-color: #0E255C;

        .home_page--dashboard {
            display: flex;

            table {
                width: 100%;

                td {
                    padding-block: 5px;
                }
            }

            .home_page--card_wrapper {
                width: 60vw;
                height: 85vh;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;

                .home_page--team-card {
                    background-color: rgba(68, 91, 167, 0.5);
                    width: 29vw;
                    height: 40vh;
                    padding: 15px;

                    .home_page--card--headline {
                        font-size: 35px;
                        margin-bottom: 10px;
                    }

                    .home_page--card--competitor_row {
                        font-size: 30px;
                    }
                }
            }

            .home_page--ranking {
                background-color: rgba(68, 91, 167, 0.5);
                height: 82vh;
                width: 21.5vw;
                margin: auto;
                padding: 15px;
                overflow-y: auto;

                table {
                    font-size: 20px;

                    img {
                        width: 25px;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

.team_page {
    display: flex;

    .team_page--content {
        background-color: #0E255C;
        width: 83vw;

        .team_page--content--menu {
            background-color: #3d4d85;
            height: 7vh;

            button {
                height: 100%;
                width: 15vw;
                font-size: 30px;
                background-color: inherit;
                border: none;
                cursor: pointer;
            }

            button:hover {
                background-color: #303d6b;
            }
        }

        .team_page--content--team {
            table {
                td {
                    width: 14vw;
                    font-size: 30px;
                    text-align: center;
                }

                .team_page--content--team--headlines {
                    background-color: #3d4d85;
                }

                tr {
                    td {
                        padding-block: 10px;
                    }
                }
            }
        }
    }
}

.national_page {
    display: flex;

    .national_page--content {
        width: 83vw;

        .national_page--content--competitors_list {
            background-color: #0E255C;
            overflow: auto;
            height: 85vh;

            table {
                td {
                    width: 14vw;
                    font-size: 30px;
                    text-align: center;
                    padding-block: 10px;
                }

                tr:hover {
                    background-color: #445BA7;
                    cursor: pointer;
                }

                .national_page--content--competitors_list--headlines {
                    background-color: #3d4d85;
                }
            }
        }
    }
}

.team_page--content--team--competitor_row {
    cursor: pointer;
    button {
        width: 100%;
        height: 5vh;
        font-size: 25px;
        background-color: inherit;
        cursor: pointer;
    }
}

.calendar_page {
    display: flex;

    .calendar_page--content {
        width: 83vw;
    
        .calendar_page--content--calendar {
            background-color: #0E255C;
            height: 85vh;
            overflow-y: auto;

            table {
                width: 100%;
                
                tr {
                    text-align: center;

                    td {
                        font-size: 22px;
                        width: 10%;
                        padding-block: 10px;
                    }
                }
            }

            .calendar_page--content--calendar--headlines {
                background-color: #3d4d85;

                td {
                    padding-block: 15px;
                    font-size: 30px;
                }
            }

            .calendar_page--content--calendar--competition-row {
                img {
                    width: 35px;
                    vertical-align: middle;
                }
            }

            .amount {
                width: 2%;
            }

            .hill-size {
                width: 5%;
            }

            .date {
                width: 5%;
            }

            .results {
                width: 5%;
            }

            .gp {
                color: green;
            }

            .raw-air {
                color: rgb(100, 100, 201)
            }

            .fht {
                color: yellowgreen;
            }

            .wc {
                color: red;
            }
        }
    }
}

@media only screen and (max-width: 1650px) {
    .start-page {
        .title {
            font-size: 4rem;
        }

        .buttons-box {
            height: 50%;
            right: 12%;
            top: 30%;

            button {
                width: 100%;
                height: 95px;
                font-size: 35px;
            }
        }
    }

    .choose_country-page {
        width: 100vw;
        height: 100vh;

        header {
            height: 13vh;
            padding: 0 2vw;
            font-size: 20px;

            .button-section {
                button {
                    width: 350px;
                    height: 60px;
                    border-radius: 35px;
                    font-size: 26px;
                    gap: 20px;
                }
            }
        }

        .choose_country_content--countries {
            height: 87vh;
        }

        .choose_country_content--card {
            img {
                width: 7vw;
            }
        }

        .choose_country_content--country_info {
            img {
                width: 10vw;
            }
        }

        .choose_country--confirm {
            padding: 25px;

            h1 {
                font-size: 35px;
            }

            div {
                gap: 15px;

                button {
                    font-size: 25px;
                }
            }
        }
    }

    .navbar {
        button {
            gap: 15px;
            padding-left: 10px;
            font-size: 22px;
        }
    }

    .header {
        img {
            width: 8vw;
        }

        .header--section {
            font-size: 17px;
        }

        .header--continue_button {
            width: 18vw;
            height: 8vh;
            font-size: 30px;
        }
    }

    .home_page--dashboard {
        .home_page--card_wrapper {
            .home_page--team-card {
                overflow: auto;

                table {
                    tr {
                        td {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .home_page--ranking {
        table {
            tr {
                td {
                    font-size: 18px;
                }
            }
        }
    }

    .team_page {
        .team_page--content {
            .team_page--content--team {
                table {
                    td {
                        width: 14vw;
                        font-size: 20px;
                        text-align: center;
                    }

                    .team_page--content--team--headlines {
                        background-color: #3d4d85;
                    }

                    tr {
                        td {
                            padding-block: 5px;
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }

    .national_page {    
        .national_page--content {
            .national_page--content--competitors_list {    
                table {
                    td {
                        font-size: 20px;
                    }
                    
                    tr:hover {
                        background-color: #0C2359;
                    }
                }
            }
        }
    }

    .team_page--content--team--competitor_row {
        button {
            font-size: 15px;
        }
    }

    .calendar_page {    
        .calendar_page--content {        
            .calendar_page--content--calendar {
                table {
                    tr {
                        td {
                            font-size: 15px;
                        }
                    }
                }
    
                .calendar_page--content--calendar--headlines {
    
                    td {
                        padding-block: 10px;
                        font-size: 20px;
                    }
                }
    
                .calendar_page--content--calendar--competition-row {
                    img {
                        width: 30px;
                    }
                }
            }
        }
    }
}